.login_contain{
  background-image: url(../img/blur-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  float: left;
}
.login_contain_form{
  width: 500px;
  height: 400px;
  color: #fff;
  background: rgba(0,0,0,.55);
  border-radius: 5px;
  padding: 5px;
}
.login_contain_div{
  width: 100%;
  height: 100%;
}
.table_div{
  margin: 10px;
}
.table_div table{
  width: 100%;
}
.table_div table tr{
  display: block;
  margin: 10px;
}
.login_contain_message{
  text-align: center;
  margin-top: 10px;
  color: greenyellow;
}