

<div class="login_contain">
    <div class="login_contain_form" div-center>

        <div class="login_contain_div">
            <div class="table_div">
                <table border="0" cellpadding="6" cellspacing="6">
                    <tr align="center">
                        <td colspan="2">
                            <h3>注册</h3>
                        </td>
                    </tr>
                    <tr>
                        <td class="_td"><label>用户名：</label></td>
                        <td>
                            <input size="46" ng-model="userName" class="form-control" type="text" placeholder="请输入用户名...">
                        </td>
                    </tr>
                    <tr>
                        <td class="_td"><label>密&ensp;&ensp;码：</label></td>
                        <td>
                            <input size="46" ng-model="passWord" class="form-control" type="text" placeholder="请输入密码...">
                        </td>
                    </tr>
                    <tr align="center">
                        <td colspan="2">
                            <div class="">
                            <button ng-click="regedit()" type="button" class="btn btn-default">注册</button>
                            <button ui-sref="login" type="button" class="btn btn-primary">返回</button>
                            </div>
                        </td>
                    </tr>
                </table>
                <p class="login_contain_message">{{loginMessage}}</p>
            </div>
        </div>

        <div class="login_contain_time">

        </div>
    </div>
</div>
