.login_contain{
    /* 加载背景图 */
    background-image: url(../img/blur-bg.jpg);
    /* 背景图垂直、水平均居中 */
    background-position: center center;
    /* 背景图不平铺 */
    background-repeat: no-repeat;
    /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
}
.login_contain_form{
    width: 500px;
    height: 400px;
    color: #fff;
}